
<mat-label><h3>Danh sách hồ sơ đề nghị xét TĐKT cần thẩm định, xử lý</h3></mat-label>
<div class="row">
    <div class="col-md-6">
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>  
<div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef><mat-checkbox></mat-checkbox></th>
          <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Ngày nhận</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Số tờ trình</th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Danh hiệu thi đua</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef>Người nộp</th>
            <td mat-cell *matCellDef="let element">  </td>
        </ng-container>
        <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef>Đơn vị</th>
            <td mat-cell *matCellDef="let element">  </td>
        </ng-container>
        <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"><a mat-button color="accent" (click)="onSave()">Link</a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
